#admin_nav li {
    display: block;
    border-radius: 5px;
    background-color: #D8D8D8;
    float: left;
    box-shadow: 3px 3px 5px #8c8c8c;
    margin: 0 10px;
}

#admin_nav li a {
    display: block;
    padding: 10px 40px;
    text-align: center;
}

#admin_nav li i {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

#admin_nav li:hover {
    background-color: #CECECE;
}