#register { width: 50%; background: white; border: 1px solid #c3c3c3; padding: 10pt; font-size: 1.5em; }
.setting_wrap { margin: 10pt 0; } 
label { float: left; width: 125px; font-weight: bold; font-size: 10pt;}
input { width: 200pt; }