body { margin: 0; padding: 0; font: normal 10pt 'Exo 2', sans-serif; }
main { width: 50%; margin: 20pt auto; padding: 20pt 30pt; border: 1px solid #b3b3b3; border-radius: 4px; box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff; }
fieldset { margin-bottom: 20px; background: #f3f3f3; }
legend { font-size: 11pt; font-weight: bold; border:1px solid #e3e3e3; border-radius: 5px;  padding:5px; }
label { float: left; min-width: 200px; font-weight: bold; }
input, select { font-size: 9pt; width: 50%; }
fieldset div { margin-bottom: 15px; }
aside { margin-left: 200px; font-size: 7pt; font-style: italic; }
input[type=submit], .button { float: right; border:1px solid #e3e3e3; background: #f3f3f3; font-size: 12pt; padding: 10px; width: inherit; min-width: 100px; }
.button { text-decoration: none; color: black; width: 150px; text-align: center; }
input[type=submit]:hover { cursor:pointer; }

.clearfix { clear:both; }

