#video_details label { float: left; width: 150px; font-weight: bold; }
#video_details input[type=text], #video_details textarea { width: calc(100% - 170px); border: 1px solid black; padding: 5px; }
#video_details textarea { resize: none; }
